@model Workout

<form method="post">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Workout</h2>
            <hr/>
        </div>
        @*<div asp-validation-summary="ModelOnly"></div>*@
       <div class="mb-3 row p-1">
            <label asp-for="WorkoutType" class="p-0"></label>
            <input asp-for="WorkoutType" class="form-control" />
            <span asp-validation-for="WorkoutType" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="WorkoutDuration" class="p-0"></label>
            <input asp-for="WorkoutDuration" class="form-control" />
            <span asp-validation-for="WorkoutDuration" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="WorkoutDate" class="p-0"></label>
            <input asp-for="WorkoutDate" class="form-control" />
            <span asp-validation-for="WorkoutDate" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CheatMeal" class="p-0"></label>
            <input asp-for="CheatMeal" class="form-control" />
            <span asp-validation-for="CheatMeal" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="WeightValue" class="p-0"></label>
            <input asp-for="WeightValue" class="form-control" />
            <span asp-validation-for="WeightValue" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control" >Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Workout" asp-action="Index" class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>
        
       
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}